html,body{
    height: 99vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer{
    display:flex;
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display:flex;
    justify-content: space-between;
}
p.solid {border-style: solid;}



































































































































































































































































































#header{
    display: flex;
    justify-content: center;
}








