html,body{
    height: 99vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer{
    display:flex;
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display:flex;
    justify-content: space-between;
}
#form-search{
    padding-top: .5em;
    padding-bottom: 1.4em;
    padding-left: 30em;
    border-radius: 5em;
    border-style: ridge;
    border-color: lightgray;
}



































































































































































































































































































#header{
    display: flex;
    justify-content: center;
}








